.intro-section {
  //padding: 100px 80px 100px 80px;
  min-height: 380px;
}
.intro-container {
  align-items: center;
  justify-content: center;
}

.introduction-heading {
  color: white;
  text-align: center;
  padding-top: 20px;
}

.introduction-subheading {
  color: white;
  text-align: center;
  text-align: center;
  text-justify: inter-word;
}

.myname {
  color: rgb(228, 228, 24);
}

@media screen and (min-width: 768px) {
  .intro-section {
    padding: 100px 80px 100px 80px;
    min-height: 380px;
  }
}
