.dplogo {
  max-width: 4vw;
}
.my-name {
  color: white;
  font-size: 1.5vw;
}

.say-hello {
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 200px;
  color: white;
}

.say-hello:hover {
  background-color: yellow;
  color: rgb(37, 35, 35);
  font-weight: 450;
}

.image-skillset {
  width: 2vw;
  align-items: center;
  margin: auto;
}

@media screen and (max-width: 992px) {
  .say-hello {
    min-width: 200px;
  }
}
