.card-container {
  display: flex;
  justify-content: center;
}

.card-projectcard {
  text-align: center;
  background: #1f75c4;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #1b1c1b, -1px -1px -1px #2d302f;

  &__body {
  }
  &__content {
    align-items: center;
    background: #1f75c4;

    border-radius: 5px;

    cursor: pointer;
    box-shadow: 5px 5px 5px #0a0a0a, -1px -1px -1px #282a28;
    transition: 0.3s all ease-in-out;
    &:hover {
      margin-top: -10px;
      box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
      background: #0e263d;
    }
  }
  &__img {
    max-width: 60px;
    padding-top: 20px;

    &:hover {
      box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    }
  }
  &__heading1 {
    padding-top: 6px;
    text-transform: uppercase;
    font-size: medium;
    font-weight: 900;
    color: yellow;
  }
  &__heading2 {
    padding-top: 10px;
    text-transform: uppercase;
    font-size: medium;
    font-weight: 900;
    color: yellow;
  }
  &__text1 {
    font-weight: 430;
  }
}
