.row-skillset {
  display: flex;
  align-items: center;
  justify-items: center;
}
.col-skillset {
  display: flex;
  align-items: center;
  justify-items: center;
}

@media screen and (max-width: 1000px) {
  .row-skillset {
    display: block;
    align-items: center;
    justify-content: center;
  }
  .col-skillset {
    align-items: center;
    justify-content: center;
  }

  .section-skillset {
    padding: 20px;
  }
}

@media screen and (min-width: 650px) {
  .section-skillset {
    padding: 50px 0px 50px 0px;
  }
}
