.header-line {
  color: rgb(22, 21, 21);
  font-family: "Noto Sans", sans-serif;
  padding-top: 25vh;
  font-size: calc(12px + 1.5vw);
  font-weight: 800;
  min-width: 2vw;
}

.header-line-sub {
  color: rgb(22, 21, 21);
  font-family: "Noto Sans", sans-serif;
  padding-top: 0.5vh;
  font-size: calc(4px + 1.5vw);
  font-weight: 700;
}

.userlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
  max-width: 30vw;
  max-height: 30vh;
  min-width: 20vw;
  padding-top: 3vh;
}

.herologo {
  display: block;
  margin-left: auto;
  margin-right: auto;

  min-width: 20vw;
  padding-top: 3vh;
  margin-bottom: 0;
}
